@import url("http://fonts.googleapis.com/css?family=Audiowide");
@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans");

$future-font-stack: "Audiowide", sans-serif;
$sans-font-stack: "Droid+Sans", sans-serif;
$serif-font-stack: "Droid Serif", serif;

h1 {
	text-transform: uppercase;
  font-family: $future-font-stack;
}

h2 {
	text-transform: uppercase;
  font-family: $future-font-stack;
}

h3 {
    font-family: $sans-font-stack;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: $future-font-stack;
}

 h5{
 	text-transform: uppercase;
  // font-weight: bold;
  font-family: $future-font-stack;
 }

h6
{
	font-family: $sans-font-stack;
	font-weight: 700;
}



 p{
	  font-family: $serif-font-stack;
	  line-height: 250%;

}

ul{

   font-family: $sans-font-stack;
   font-weight: bold;
}