.panel.callout {
  @include box-shadow(0 1px 0 rgba(255, 255, 255, 0) inset);
}
.clearing-thumbs{
  list-style:none;
  li{
    display: inline;
  }
}

img.no-resize
{
	max-width: none;
}

hr.whitebg { display: block; height: 1px;
    border: 0; border-top: 2px solid #ccc;
    margin: 1em 0; padding: 0; }