  $sw-red: #501618;
  $sw-creme: #D9CB9E;
  $sw-forest: #374140;
  $sw-grey: #2A2C2B;
  $sw-black: #1E1E20;

  $to-brown: #595241;
  $to-tan: #B8AE9C;
  $to-white: #FFFFFF;
  $to-blue: #ACCFCC;
  $to-red: #8A0917;


.accordion{
  border-bottom:1px solid $silver;
  >.active{
    >a{
       background:$accordion-navigation-bg-color !important;
       color:#fff;
    }
  }
  >dd >a{
    &:hover{
      background:$sw-red !important;
      color:#fff;
      @include transition(.25s);
    }
  }
}


.tabs >dd >a,
.tabs.vertical >dd >a,
.tabs-content{
  border:2px solid $clouds;
}
.tabs >dd:first-child >a{
  margin-left:0px;
}
.tabs >dd >a{
  border-bottom:0px;
  margin-left:-2px;
}
.tabs-content{
  padding:0px;
  margin-top:-2px;
}

.tabs.vertical >dd >a{
  margin-top: -2px;
  margin-left: -5px;
}

.tabs-content.vertical{
  margin-top:0px;
  border:0px;
}

